body {
  width: 100%;
  height: 100%;
}

/* menu sidebar*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body{
  background: #ffffff;
}

.btn{
  font-size: 24px !important;
  text-decoration: none;
  position: relative;
  margin: 25px !important;
}
  .btn-1{
    color: white;
    background-color:#50d897 ;
    padding: 10px !important;
    border-bottom: 5px solid #43b87f !important ;
  }
  .btn-1:hover{
    background-color:#76f0b5;
    box-shadow: 0px 0px 10px #76f0b5 !important;
    
  }
  .btn-2{
    position: relative;
    color: white;
    font-size: 18px;
    background-color:#ffc989 ;
    text-align: center;
    /* margin: 20px; */
    padding: 5px;
    border-radius: 10px;
    border-bottom: 5px solid #e0ae70 ;
    width: 10%;
  }
  .btn-2:hover{
    background-color:#ffd9aa;
    box-shadow: 0px 0px 10px #ffd9aa;
    cursor: pointer;
    
  }
  .btn-3{
    position: relative;
    color: white;
    font-size: 18px;
    background-color:#A5BBF5 ;
    text-align: center;
    /* margin: 20px; */
    padding: 5px;
    border-radius: 10px;
    border-bottom: 5px solid #7895e4;
    width: 10%;
  }
  .btn-3:hover{
    background-color:#b8cafb;
    box-shadow: 0px 0px 10px #b8cafb;
    cursor: pointer;
    
  }



.wrapper .sidebar{
  background: #FAC5B6;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 0px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  /*border-bottom: 1px solid #10558d;*/
  color: white;
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon {
  color: white;
  width: 30px;
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #a5bbf5;

  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #a5bbf5;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
  background: #fac5b6;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.wrapper .section .top_navbar .hamburger a {
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover {
  color: #a5bbf5;
}

.titulo{
  position: relative;
  display: flex;
  margin: 25px;
}

.subtitulo{
  position: relative;
  display: flex;
  margin: 25px;
  left: 1px;
}

.subtitulo h2{
  font-size: 28px;
  font-weight: lighter;
}

.lbField {
  font-size: 20px;
}

#imgpos {
	position: absolute; 
	top: 15px;
	}

body.active .wrapper .sidebar{
  left: -225px;
}

body.active .wrapper .section {
  margin-left: 0;
  width: 100%;
}

.consultas-agendadas{
  margin: 30px;
  padding: 15px;
  position: relative;
}

.consultas-agendadas h5{
  position: relative;
  top: 7px;
  font-size: 20px;
  font-weight: lighter;
}

